<div class="container-fluid rounded m-1 p-2 bg-light">
<h2 class="text-dark display-6"><strong><i class="bi bi-activity"></i>&nbsp;ACTIVITY:&nbsp;</strong></span>Introduce Yourself</h2>
{{ content | safe }}
</div>