

{% include "header.njk" %} 
{% include "breadcrumb.njk" %}
  <div class="container-fluid mt-4 mx-auto" style="width: 80%;">
    <main>
      {{ content | safe }}
    </main>
    <br>

  </div>
{% include "footer.njk" %}

