

{% include "header.njk" %} 
{% include "breadcrumb.njk" %}
  <div class="container-fluid mt-4 mx-auto" style="width: 80%;">
    <main>
      <div class="container px-4">
          <h1>{{ guideTitle }}</h1>
          <p>{{ guide.data.description }}</p>

          {{ content | safe }}
          {% if status=='Discovery' %}
<p class="alert alert-warning">This guide is in its <strong>Discovery</strong> phase of development.  This means we are still at the early stages of experimenting with it.</p>
{% endif %}
{% if status=='Alpha' %}
<p class="alert alert-warning">This guide is in its <strong>Alpha</strong> phase of development.  This means we are still experimenting with it and it is not complete.</p>
{% endif %}
{% if status=='Beta' %}
<p class="alert alert-info">This guide is in its <strong>Beta</strong> phase of development.  This means we are still refining it, but it should be nearly complete.</p>
{% endif %}

{% set flatNavItems = collections.all | eleventyNavigation | flattenNavigationAndAddNextPrev %}
{% for item in flatNavItems %}
  {% if item.url === page.url %}

    {% if item.nextTitle %}
          <a class="btn btn-primary m-2" href="{{ item.nextUrl }}" role="button">
            NEXT : {{ item.nextTitle }} &rarr;
          </a>
    {% endif %}
  {% endif %}
{% endfor %}

<details>
  <summary>See the contents of the guide</summary>
  <div class="container m-3">
  {% include "guide-structure.njk" %}
</div>
</details>

  </div>
    </main>
  </div>
{% include "footer.njk" %}

