

{% include "header.njk" %} 
  <div class="container-fluid mt-4 mx-auto" style="width: 80%;">
    <main>
      <div class="container px-4">
          <h1>{{ guideTitle }}</h1>
          <p>{{ guide.data.description }}</p>

          {{ content | safe }}
          {% if status=='Discovery' %}
<p class="alert alert-warning">This guide is in its <strong>Discovery</strong> phase of development.  This means we are still at the early stages of experimenting with it.</p>
{% endif %}
{% if status=='Alpha' %}
<p class="alert alert-warning">This guide is in its <strong>Alpha</strong> phase of development.  This means we are still experimenting with it and it is not complete.</p>
{% endif %}
{% if status=='Beta' %}
<p class="alert alert-info">This guide is in its <strong>Beta</strong> phase of development.  This means we are still refining it, but it should be nearly complete.</p>
{% endif %}

<h2>Guide Contents</h2>
{%- for section in collections.guideSections | sort (false,true,'order')  -%}
  <h3><a href="{{section.url}}">{{ section.data.title }}</a></h3>

{% endfor %}


            <a href="{{ guide.url }}" type="button" class="btn btn-primary m-2">START THE GUIDE &rarr;</a>

  </div>
    </main>
  </div>
{% include "footer.njk" %}

