

{% include "header.njk" %} 
{% include "breadcrumb.njk" %}
{% include "status-check.njk" %} 
  <div class="container-fluid mt-4 mx-auto" style="width: 80%;">
    <main>
      {{ content | safe }}
    </main>
    <br>
{% include "navigation.njk" %}

  </div>
{% include "footer.njk" %}

