{% set flatNavItems = collections.all | eleventyNavigation | flattenNavigationAndAddNextPrev %}

{% for item in flatNavItems %}
  {% if item.url === page.url %}
    {% if item.prevTitle %}
      <a class="btn btn-primary m-2" href="{{ item.prevUrl }}" role="button">
        &larr; PREVIOUS: {{ item.prevTitle }}
      </a>
    {% endif %}

    {% if item.nextTitle %}
      <a class="btn btn-primary m-2" href="{{ item.nextUrl }}" role="button">
        NEXT: {{ item.nextTitle }} &rarr;
      </a>
    {% else %}
            <a class="btn btn-primary m-2" href="/" role="button">
        FINISH guide
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
<details>
  <summary>See where you are in the guide</summary>
{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.parent) %}
{% macro renderNavListItem(entry) -%}
<li>
    {% if entry.url != page.url %} 
    <a href="{{ entry.url | url }}">
    {% else %} <b>
    {% endif %}
    {{ entry.title }}
    {% if entry.url != page.url %} 
    </a>
    {% else %} << You are here </b>
    {% endif %}
</li>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</details>