<div class="container-fluid my-4 mx-auto bg-light p-4 border border-primary rounded" style="width: 80%;">
    <img src="/images/intentional-technology.png" alt="The Intentional Technology newsletter logo" width="150" height="150">
    <h2>The Intentional Technology Newsletter...</h2>
    <p>... will help you use technology with focus and enjoyment.</p>
    <p> <a href="https://intentionaltechnology.substack.com" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">
            SUBSCRIBE
        </a></p>
</div>