{% if status=='Discovery' %}
<div class="alert alert-warning">This course is in its <strong>Discovery</strong> phase of development.  This means we are still at the early stages of experimenting with it.</div>
{% endif %}
{% if status=='Alpha' %}
<div class="alert alert-warning">This course is in its <strong>Alpha</strong> phase of development.  This means we are still experimenting with it and it is not complete.</div>
{% endif %}
{% if status=='Beta' %}
<div class="alert alert-info">This course is in its <strong>Beta</strong> phase of development.  This means we are still refining it, but it should be nearly complete.</div>
{% endif %}